[submodule "neural_nets"]
	path = neural_nets
	url = git@github.com:eltech-anykeyers/ai_neural_nets.git
[submodule "ui/GridDrawer"]
	path = ui/GridDrawer
	url = git@github.com:eltech-anykeyers/ai_GridDrawerWidget.git
[submodule "ui/ImageListViewWidget"]
	path = ui/ImageListViewWidget
	url = git@github.com:eltech-anykeyers/ai_ImageListViewWidget.git
[submodule "utils/NeuralNetworkSerializer"]
	path = utils/NeuralNetworkSerializer
	url = git@github.com:eltech-anykeyers/ai_NeuralNetworkSerializer.git
